.my_text_change{
    font-weight: bold;
 }
 .body_scratch{
     background-color: rgb(154, 154, 128);
 }
.text_change{
    font-family: Georgia, 'Times New Roman', Times, serif;
}  
 
 .font_change{
    color: darkblue ;
    text-decoration: underline;
 }




 
 body{
    background-color: rgb(82, 80, 80);
}

.common_div{
    background-color: rgb(166, 188, 207);
    border: 2px solid;
    position: absolute;
    overflow: auto;
    /* putting into common_div so it applys to all of them and can scroll */
    padding: 2px;
}

.header_div{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.left_div {
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 300px;
}

.right_div {
    top: 114px;
    right: 5px;
    width: 300px;
    bottom: 300px;
}

.main_div{
    top: 114px;
    left: 114px;
    right: 315px;
    bottom: 300px;
}